<?xml version="1.0"?>
<web-app>
<servlet>
    <description></description>
    <display-name></display-name>
    <servlet-name>hoge</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>hoge</servlet-name>
  <url-pattern>/Welcome</url-pattern>
</servlet-mapping>
</web-app>
