html,
body {
    width: 150px;
    background-color: rgb(51, 255, 0);
}

button {
    border: none;
    width: 100%;
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #E5F2F2;
}

button:hover {
    background-color: #CFF2F2;
}